/* ~Arquivo de Estilo~ */
/* Autor: Hian Neiva */
/* Motivação do estilo: Responsividade considerando ambiente móvel */

@font-face{
	font-family: 'MSX';
	src: url('MSXFont.ttf');
}

body{
	margin: 0px;
	padding: 0px;
	font-family: 'MSX', 'Courier New', 'monospace';
	font-size: medium;
	color: #fff;
	background-color: #5955E0;
}

#outer{
	border-style: hidden;
	border-width: 0px;
}

#menutop{
	display:none;
}

@media all and (orientation:portrait) {
    #menubottom{ 
    	height: 128px;
    	left: 50%;
		bottom: 0px;
    	width: 292px;
    }
}
@media all and (orientation:landscape) {
    #menubottom{ 
    	height: 332px;
    	right: -5%;
    	bottom: -30%;
    	width: 72px;
    	-ms-transform: scale(0.5,0.5); /* IE 9 */
    	-webkit-transform: scale(0.5,0.5); /* Safari */
    	transform: scale(0.5,0.5);
    }
}

#menubottom {
	display: block;
	/* Alinhamento*/
	/*left: 50%;*/
	/*bottom: 0px;*/
	margin-left: -188px;
	/* Largura */
	/*width: 292px;*/
	/* Borda do bloco de Menu */
	border-style: solid;
	border-width: 32px;
	border-color: #8076F1;
	/* Alinhamento do texto no menu */
	text-align: center;
	/* Padding dentro do bloco */
	padding: 0px 10px 8px 10px;
	/* Cor de fundo do menu */
	background-color: #5955E0;
	/* Deinição de característica "sempre presente" por posição*/
	position: fixed;
}

#top{
	margin-top: 0px;
}

#proj{
	background: #B766B5;
	margin: 0 -16px 0 0;
	padding: 16px;
}

#curriculum{
	background: #3AA241;
	margin: 0 -16px 0 0;
	padding: 16px;
}

#contact{
	color: #000;
	background: #CCC35E;
	margin: 0 -16px 0 0;
	padding: 16px 16px 208px 16px;
}

#leftspace{
	margin: -24px 0 0 0;
	padding: 16px;
}

.dummy{ /* Por algum motivo os menu sprites abaixo funcionam somente 
	   com prresença de outra classe anteror */}

.mstop{
	display: inline-block;
	background: url('img/menusprite64.png') no-repeat -77px -77px;
	height: 64px;
	width: 64px;
	padding-bottom: 0;
}
.mstop:hover{
	background: url('img/menuhover64.png') no-repeat -77px -77px;
}

.msproj{
	display: inline-block;
	background: url('img/menusprite64.png') no-repeat -6px -77px;
	width: 64px;
	height: 64px;
	padding-bottom: 0;
}
.msproj:hover{
	background: url('img/menuhover64.png') no-repeat -6px -77px;
}

.mscv{
	display: inline-block;
	background: url('img/menusprite64.png') no-repeat -6px -6px;
	width: 64px;
	height: 64px;
}
.mscv:hover{
	background: url('img/menuhover64.png') no-repeat -6px -6px;
}

.mscontact{
	display: inline-block;
	background: url('img/menusprite64.png') no-repeat -77px -6px;
	width: 64px;
	height: 64px;
}
.mscontact:hover{
	background: url('img/menuhover64.png') no-repeat -77px -6px;
}

.imgTitle{
    display:none;
}
.imgTMob{
    display:block;
    left: 50%;
    margin-left: -128px;
    position: relative;
}

.sprite-fb-icon {
	background-image: url('img/social-icons.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 64px;
    height: 64px;
    background-position: 0 0;
}

.sprite-linkedin-icon {
	background-image: url('img/social-icons.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 64px;
    height: 64px;
    background-position: -64px 0;
}

.sprite-steam-icon {
	background-image: url('img/social-icons.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 64px;
    height: 64px;
    background-position: 0 -64px;
}

.sprite-tumblr-icon {
	background-image: url('img/social-icons.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 64px;
    height: 64px;
    background-position: -64px -64px;
}

.hoverable:link {color: #65DBEF;}
#contact .hoverable:link {color:#5955E0;}
.hoverable:visited {color: #65DBEF;}
.hoverable:hover {color: #FF897D;}
.hoverable:focus {color: #FF897D;}
.hoverable:active {color: #DB6559;}

h1 {font-size: 150%};
h2 {font-size: 120%};